.movies__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.movies__container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.movies-header {
  margin-top: 2rem;
}

.movies-header h4 {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 25px;
}

.movies-content {
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

.movies-column {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 2rem;
}

.movies-loadMore {
  width: 100%;
}

.movies-loadMore button {
  width: 95%;
  height: 50px;
  margin-bottom: 2rem;
  font-size: 22px;
  font-weight: 500;
  font-family: var(--font-base);
  color: white;
  background-color: var(--color-lightBlue);
  border-radius: 8px;
  border-style: none;
}

@media screen and (max-width: 850px) {
  .movies__container {
    width: 90%;
  }

  .movies-header h4 {
    font-size: 30px;
  }

  .movies-sort-column {
    display: none;
  }

  .movies-content {
    flex-direction: column;
  }

  .movies-column {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 415px) {
  .movies-header {
    margin-left: 1.5rem;
  }

  .movies-header h4 {
    font-size: 25px;
  }

  .movies-column {
    justify-content: center;
  }
}
