/*

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.searchBar input {
  font-family: var(--font-base);
  font-size: 16px;
  padding: 0.2rem;
}

.searchBar-icon {
  font-size: 30px;
  color: white;
}

*/

.search {
  width: 100%;
  display: flex;
}

.searchBar {
  display: flex;
  width: 80%;
  position: absolute;
  margin-left: 6rem;
}

.search-label {
  width: 100%;
}

.search-textField {
  width: 100%;
  height: 46px;
  margin-left: 2rem;
  border-radius: 22px;
  font-family: var(--font-base);
  font-size: 18px;
  padding: 1rem;
  border-style: none;
}

.search-textField:active {
  border-style: none;
}

.search-button {
  border-radius: 22px;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 0.2rem;
  width: 10%;
  border-style: none;
  background: linear-gradient(0deg, rgba(12, 209, 175, 1) 0%, rgba(26, 184, 217, 1) 100%);
}

@media screen and (max-width: 850px) {
  .searchBar {
    position: absolute;
    bottom: 10%;
    right: 12%;
  }

  .search-button {
    width: 20%;
  }
}

@media screen and (max-width: 400px) {
  .searchBar {
    width: 90%;
  }

  .search-textField {
    height: 20px;
    font-size: 12px;
  }

  .search-button {
    font-size: 12px;
  }
}
