.login__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login__body {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 30%;
  padding: 1rem;
  margin-top: 2rem;
  font-family: var(--font-base);
}

.login__body h2 {
  display: flex;
  justify-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login-field {
  display: flex;
  flex-direction: column;
}

.login__form label {
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
}

.login__form input {
  padding: 4px;
}

.login__form p {
  margin-top: 1rem;
}

.login__form-link {
  text-decoration: none;
  color: black;
}

.login__form-link:hover {
  text-decoration: underline;
  color: blue;
}

.login__form button {
  border-style: none;
  border-radius: 4px;
  background-color: #346bf6;
  color: white;
  font-size: 16px;
  margin-top: 1rem;
  height: 28px;
}

@media screen and (max-width: 800px) {
  .login__body {
    width: 70%;
  }
}
