.searchList__wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
}

.searchList__container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 70%;
}

.results__container {
  height: 300px;
  width: 250px;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-family: var(--font-base);
  overflow: hidden;
}

.results-header {
  background-color: #01b4e4;
  color: white;
  padding: 1.5rem;
}

.results-header p {
  font-size: 18px;
  font-weight: 500;
}

.results-categories {
  margin-top: 1rem;
}

.results-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.results-label h5 {
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.results-num {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  margin-left: auto;
  background-color: var(--color-lightGray);
  border-radius: 8px;
  width: 38px;
  height: 22px;
}

.results-selected {
  background-color: var(--color-lightGray);
}

.results-unselected {
  background-color: white;
}

.results-num-selected {
  background-color: white;
}

.results-num-unselected {
  background-color: var(--color-lightGray);
}

.searchList__right-column {
  margin-left: 2rem;
}

@media screen and (max-width: 850px) {
  .results__container {
    display: none;
  }

  .searchList__container {
    width: 90%;
    margin-left: -1.5rem;
  }
}
