.similarMedia__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-base);
}

.similarMedia__container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 50px auto;
}

.similarMedia__container h3 {
  font-size: 28px;
  font-weight: 500;
}

.similarMedia__list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 2rem;
  gap: 1rem;
}

.similarMedia__list::-webkit-scrollbar {
  background-color: white;
  height: 8px;
}

.similarMedia__list::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}

.similarMedia__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.similarMedia__card img {
  border-radius: 8px;
}

.similarMedia__card img:hover {
  cursor: pointer;
  opacity: 80%;
}

.similarMovies__card p {
  margin-top: 0.5rem;
}

.similarMedia__card p:hover {
  cursor: pointer;
  color: var(--color-lightBlue);
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .similarMedia__container {
    width: 90%;
  }

  .similarMedia__list {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 415px) {
  .similarMedia__container h3 {
    font-size: 22px;
  }
}
